/* Global Variables */
:root {
    --Pink: rgb(255, 82, 191);
    --VeryPaleCyan: rgb(235, 251, 255);
    --VeryDarkCyan: rgb(0, 37, 46);
    --GrayishBlue: rgb(128, 141, 153);
    --White: #fff;
    --Black: #000;
}


/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

 .container-fluid {
     padding: 0;
     margin: 0;
 }

 .cta-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: var(--Pink);
    color: var(--White);
    border-radius: 25px;
    padding: .5rem 3rem;
 }

 .row {
     margin-right: 0;
 }


 /* Top Call-To-Action */
 div.top-cta div.jumbotron {
     background-color: var(--VeryPaleCyan);
     background-image: url('../img/bg-hero-mobile.svg');
     background-size: stretch;
     background-repeat: no-repeat;     
 }

 div.top-cta div.jumbotron div.top-cta-links a img.huddleLogo {
     max-width: 100%;
     padding-left: 1rem;
 }

 div.top-cta div.jumbotron div.top-cta-links a.btn {
     background-color: var(--White);
     text-transform: none;
     font-weight: 700;
     border-radius: 20px;
     padding: .2rem 2rem;
     box-shadow: 0px 2px 8px 0px rgba(128, 141, 153, .30);
 }

 div.top-cta div.jumbotron div.heading p {
     font-size: 22px;
 }

 div.top-cta div.jumbotron div.heading img {
     max-width: 100%;
     margin-top: 4rem;
 }

 /* 1200px+ Viewpoint */
@media (min-width: 1200px){
    div.top-cta div.jumbotron {
        padding-bottom: 8rem;
        margin-bottom: 10rem;
    }

    div.top-cta div.jumbotron div.top-cta-links a.btn {
        padding: .8rem 4.5rem;
        border-radius: 25px;
    }
    
    div.top-cta div.jumbotron div.heading div.row a#cta-btn-top {
        padding: 1rem 4.5rem;
        border-radius: 30px;
    }
    
    div.top-cta div.jumbotron div.heading img#mockups {
        margin-top: -4rem;
        min-width: 115%;
        padding-right: 5rem;
    }

}
 

 /* Features */
 div.features div.feature-group {
     text-align: center;
     border-radius: 25px;
     box-shadow: 2px 2px 10px 0px rgba(87, 112, 136, 0.35);
     margin: 2rem 1rem 4rem 1rem;
     
 }

 div.features div.feature-group p {
     color: var(--GrayishBlue);
     padding-top: .5rem;
 }

 div.features div.feature-group img {
     max-width: 100%;
     padding-top: 5rem;
 }

 /* 1200px+ Viewpoint */
 @media (min-width: 1200px){
     div.features div.feature-group {
         max-width: 90%;
         margin: 2.5rem auto;
     }

     div.features div.feature-group h2, div.features div.feature-group p {
         padding-left: 5rem;
     }

     div.features div.feature-group img {
         padding: 5rem;
     }
 }



 /* Bottom Call-To-Action */
 div.container.bottom-cta {
     width: 90%;
     padding: 2rem;
     margin: 10rem 1rem -5rem 1rem;
     position: relative;
     z-index: 1;
     background-color: var(--White);
     border-radius: 25px;
     box-shadow: 2px 2px 10px 0px rgba(87, 112, 136, 0.35);
 }

 /* 1200px+ Viewpoint */
 @media (min-width: 1200px) {
     div.container.bottom-cta {
         width: 50%;
         padding: 4rem;
         margin: 10rem auto -5rem auto;
     }
 }


 /* Footer */
footer.contact {
    background-color: var(--VeryDarkCyan);
    color: var(--White);
    padding: 10rem 0 1rem 0;
}

footer.contact div.row {
    padding-left: 1rem;
}

footer.contact img.logo-footer {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(4deg) brightness(103%) contrast(103%);
}

footer.contact ul.contact-links {
    list-style: none;
    padding-left: .2rem;
}

footer.contact ul.contact-links li {
    padding: .5rem 0;
}
footer.contact ul.contact-links li a {
    color: var(--White);
    font-size: 22px;
}

footer.contact div.social-links {
    margin: 0 auto;
    text-align: center;
    padding: 1.5rem;
}

footer.contact div.social-links a i {
    color: var(--White);
    border: 1px solid var(--White);
    padding: 1.5rem;
    border-radius: 2rem;
}

footer p.attribution {
    font-size: 11px; 
    text-align: center;
    margin-left: 0;
}
    
footer p.attribution a {
    color: hsl(228, 45%, 44%); 
}

/* 1200px+ Viewpoint */
@media (min-width: 1200px) {
    footer.contact {
        padding: 10rem 5rem 2rem 5rem;
    }

    footer.contact div.social-links a i {
        padding: .5rem;
    }

    footer.contact div.row p.copy {
        font-size: 12px;
        margin-left: auto;
    }

    footer p.attribution {
        padding-top: 2.5rem;
    }
}
 